* {
    margin: 0;

    padding: 0;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    width: 50%;
}

.centerH {
    text-align: center;
}

.wrapper {
    margin: 0 auto;

    width: 1000px;
}
