body, h1 {
    padding: 0;
    margin: .2;
    background-color: #202020;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    width: 14in;
    height: 6.5 in;
}

.centerH {
    text-align: center;
}

.wrapper {
    margin: 0 auto;

    width: 1000px;
}
